body{
    /* display: grid; */
    grid-template-columns: 50%;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#input-section{

}



#info-form{
background-color: rgb(184, 184, 184);
display: grid;
grid-template-columns: 500px;
width: 700px;
height: 50vw;
margin: 0 auto;

justify-content: center;
}


label{
width: ;

}

input{
    height: 30px;
    width: 70%;
}





select{
height: 30px;
width: 70%;

}



#submit-button{

height: 30px;
width: 70%;
border-radius: 9px;
background-color: rgb(92, 201, 194);





}




#output-section{
    display: flex;
    flex-direction: column;
    word-wrap: normal;
    min-height: 200px;
    height: 50vw;
    width: 80vw;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: darkturquoise 1px solid;
}




/* .entrycontainer{
display: grid;
grid-template-columns:  25% 25% 25% 25%;
grid-template-rows: 50% 50%;
background-color: rgb(242, 188, 170);
height: 70px;
width: 70%;
align-items: center;
justify-content: space-around;
border: brown 1px solid;

} */

.entrycontainer{
display: flex;
flex-direction: column;
/* grid-template-columns:  100%;
grid-template-rows: auto; */
background-color: rgb(242, 188, 170);
height: 70px;
width: 100%;
flex-wrap: wrap;
align-items: center;
/* justify-content: center; */
border: brown 1px solid;
margin: 10px 0;
}








.titlesec{
    border: darkslategrey 1px solid;
}



.descripsec{
    border: pink 1px solid;
}



.apartsec{
    border: purple 1px solid;
}




.workdonesec{
     border: green 1px solid;
}



.ownersec{
     border: orange 1px solid;
}




.statussec{
     border: red 1px solid;
}


