::before,
::after {
  box-sizing: border-box;
}

:root {
  --main-background-color: #f4f4f4de;
  --main-text-color: #33393d;
  --main-element-color: #fc4b1aee;
  --other-element-color: #4abdac;
  --main-bg-color: #fc4b1a9a;
  --other-bg-color: #4abdacc6;
  --main-button-color: #f8dd3f;
  --other-light-color: #eeedf0;
  --mobile: 400px;
  --tablet: 800px;
  --big-radius: 26px;
  --medium-radius: 12px;
  --small-radius: 6px;
  --mobile-small: 590px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-flow: column;
  height: auto;
  padding: 0;
  margin: 0;
}

.background-image {
  height: 100vh;

  overflow: scroll;
  background: linear-gradient(
      135deg,
      var(--other-bg-color),
      var(--main-bg-color)
    ),
    url("images/tool-spread.jpg") repeat center center / cover;
}

.wrapper {
  max-width: 800px;
  align-items: center;
  margin: 0 auto;
}

#input-section {
  margin: 0, auto;
}

#header-bar {
  display: flex;
  flex-flow: row;
  max-width: 75%;
  height: auto;
  /* border: 1px orange solid; */
  align-items: center;
  margin: 0 auto;
  padding: 2em 1em 1em;
  justify-content: space-evenly;
}

#logo-img {
  max-height: 130px;
  width: auto;
  padding: 5px;

  /* border: 1px white solid; */
}

#heading {
  font-size: 40pt;
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 1.1;
  color: white;
  margin: 0 auto;
  padding: 0px 0px;
  text-align: center;
}

#sub-head {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  height: 90%;
  margin: 5px auto;
}

@media (max-width: 590px) {
  #heading {
    font-size: 22pt;
    margin: 0 auto;
  }

  #header-bar {
    display: flex;
    flex-flow: column;
    padding-top: 2em;
    width: 100vw;
  }

  #logo-img {
    max-height: 70px;
  }
}

/* FOR INFO FORM */
#info-form {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #fc4b1adc;
  max-width: 1000px;
  height: auto;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  border-radius: var(--big-radius);
  padding: 5px;
  box-shadow: 1px 20px 50px 10px #88888880;
  border: 3px white solid;
  transition-duration: 400ms;
}

#info-form:hover {
  box-shadow: 1px 10px 50px 10px #ffffff80;
  border: 5px white solid;
  background-color: #fc4b1a;
}

label {
  /* border: black 1px solid; */
  text-align: center;
  font-size: 12pt;
  font-weight: light;
  margin: 8px auto 3px;
  /* padding-left: 7px; */
}

input {
  height: 2.2rem;
  font-size: 1rem;
  width: 70%;
  border: none;
  border-radius: var(--medium-radius);
  padding-left: 10px;
}

select {
  height: 2.2em;
  width: 70%;
  margin: 0 auto;
  justify-items: center;
  border-radius: var(--medium-radius);
  border: none;
  font-size: 1rem;
  padding-left: 10px;
}

#submit-button {
  font-size: 15pt;
  font-weight: bold;
  height: 2em;
  width: 40%;
  border-radius: var(--big-radius);
  background-color: var(--main-button-color);
  margin: 15px auto;
  border: none;
}

@media (max-width: 500px) {
  input {
    height: 2.5rem;
  }

  select {
    height: 2.5rem;
  }
}

@media (max-width: 425px) {
  #submit-button {
    font-size: 0.85rem;
  }
}

/* FOR DASHBOARD */
.dashboard-output {
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
  border: 3px white solid;
  border-radius: var(--big-radius);
}

.job-count {
  /* display: flex; */
  font-size: 14pt;
  /* max-width: 50%; */
  font-weight: bold;
  color: var(--other-light-color);
  text-align: center;
  justify-content: center;
  flex-grow: 1;
}

.sorter {
  /* display:flex; */
  font-size: 14pt;
  max-width: 50%;
  font-weight: bold;
  color: var(--other-light-color);
  /* align-items: center; */
}

#sort-selection {
  font-size: inherit;
  width: 110px;
  height: 40px;
}

/* FOR OUTPUT SECTION */

#output-section {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  max-width: 1000px;
  gap: 1em;
  margin: 1em auto;
  background-color: #4abdacd0;
  list-style: none;
  padding: 20px 10px 0px 10px;
  border-radius: var(--big-radius);
  border: 3px white solid;
  overflow: scroll;
  transition-duration: 500ms;
  padding-bottom: 2rem;
}

#output-section:hover {
  background-color: #4abdac;
  box-shadow: 1px 20px 50px 10px #ffffff80;
  border: 5px white solid;
}
@media (max-width: 700px) {
  #output-section {
    max-width: 100vw;
  }
}

.entrycontainer {
  display: flex;
  flex-flow: wrap;
  min-height: 100px;
  height: auto;
  width: 95%;
  /* border: red 1px solid; */
  border-radius: var(--medium-radius);
  margin: 10px auto;
  gap: 0.2em;
  align-items: center;
}

.info-box {
  color: var(--main-text-color);
  font-size: 1rem;
  flex-direction: column;
  flex-grow: 1;
  word-wrap: normal;
  border-radius: var(--medium-radius);
  border: lightslategray 1px solid;
  border: none;
  margin: 0 auto;
  padding: 0.5rem 0.5rem;
  background-color: var(--other-light-color);
}

@media (max-width: 500px) {
  .info-box {
    font-size: 13pt;
  }
}

.sect-label {
  font-size: 15pt;
}

@media (max-width: 500px) {
  .sect-label {
    font-size: 13pt;
  }
}

.id_sect {
  /* border: red 1px solid; */
}

.apart_sect {
}

.title_sect {
  /* border: darkslategrey 1px solid; */
}

.manag_sect {
  /* border: orange 1px solid; */
}

.status_sect {
}

.descript_sect {
  /* border:red 1px solid; */
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 auto;
}

.work_done_sect {
  /* border: green 1px solid; */

  flex-grow: 1;
  margin: 0 auto;
}

.entry-button {
  display: flex;
  margin-left: 18px;
}

.job-button {
  border-radius: var(--medium-radius);
  color: var(--main-background-color);
  width: 100px;
  height: auto;
  font-size: 1rem;
  font-weight: bold;
  border: 1px white;
  transition: 0.8s;
  padding: 0.5rem;
  margin: 0.1rem 0.2rem;
}

.job-button:hover {
  border: 1px solid black;
  transform: scale(1.1);
}

.edit-button {
  /* background-color: yellowgreen; */
  background-color: var(--main-button-color);
  color: black;
}

.delete-button {
  background-color: rgb(232, 45, 45);
}

#id-Holder {
  display: none;
}

#save-button {
  height: 3em;
  width: 40%;
  background-color: rgb(184, 223, 106);
  border-radius: var(--big-radius);
  margin: 5px auto;
  border: none;
  font-weight: bold;
}

#footer-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
}

.logos-section {
  padding: 10px;
  margin: 0 auto;
}

.social-icon {
  padding: 10px;
  max-width: 40px;
}

.social-icon:hover {
}

.help-text {
  color: white;
  font-size: 12pt;
  font-weight: bold;
}
