body{
    /* display: grid; */
    grid-template-columns: 50%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}



#input-section{

}



#header_bar{
    display: flex;
    flex-direction: row;
width: 100vw;
height: 100px;
border: 1px orange solid;

}

#logo{
    height: 100%;
    width: auto;



}

#heading{
    font-size: 50pt;
color: black;
width: 100%;
margin: 0 auto;
text-align: center;
Padding: 20px;
/* background-color: blue; */
}


#info-form{
color: white;
background-color: #2B7A78;
display: grid;
grid-template-columns: 500px;
width: 70vw;
max-width: 1200px;
height: 500px;
margin: 5px auto;
justify-content: center;
border-radius: 8px;
padding-top: 20px;
}




label{
/* border: black 1px solid; */
text-align: center;
font-size: 13pt;
font-weight: bolder;
font-kerning: 10pt;
margin-top: .5em;
padding-left: 7px;
}



input{
    height: 30px;
    width: 70%;
    margin: 0% auto;
}


select{
    margin: 0 auto; 
    /* align-items: center; */
    justify-items: center;
}





select{
height: 30px;
width: 70%;
}



#submit-button{
height: 40px;
width: 70%;
border-radius: 9px;
background-color: rgb(92, 201, 194);
margin: 0 auto;
}




#output-section{
    display: flex;
    flex-direction: column;
    min-height: 250px;
    height: auto;
    width: 90vw;
    max-width: 1500px;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 1em auto;
    background-color: #3AAFA9;
    /* border: darkturquoise 1px solid; */
    list-style: none;
    padding-top: 20px;
    border-radius: 6px;
    
    

}




.entrycontainer{
display: grid;
grid-template-columns:  repeat(5, 1fr );
grid-template-rows: 30% 55% 15%;
background-color: #DEF2F1;
height: 20%;
min-height: 200px;
width: 95%;
padding: 0px;
/* border: red 1px solid; */
border-radius: 8px;
margin: 10px 0px;

}






.id_sect{
border: red 1px solid;

}

.apart_sect{
    border: lightslategray 1px solid;
}


.title_sect{
    /* border: darkslategrey 1px solid; */
    border: lightslategray 1px solid;
}

.manag_sect{
     /* border: orange 1px solid; */
     border: lightslategray 1px solid;
}



.status_sect{
     /* border: red 1px solid; */
     border: lightslategray 1px solid;
     /* border-radius: 4px; */
}



.descript_sect{
    border: lightslategray 1px solid;
    /* border:red 1px solid; */
    grid-column-start: 1;
    grid-column-end: 4;
}


.work_done_sect{
     /* border: green 1px solid; */
     border: lightslategray 1px solid;
     grid-column-start: 4;
    grid-column-end: 7;
}


.btn btn-warning{



}

.btn btn-danger{

}














